Server/world*/
Server/backups*/
*local*/
*.mixin.out/
/Server/patchouli_books/
/Server/structurize/
/Server/maessentials
/Server/logs*/
/Server/crash*/
banned-players.json
*maessentials*/
banned-players.json
banned-ips.json
ops.json
usercache.json
usernamecache.json
whitelist.json

